* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* overflow-x: hidden; */
  font-family: sans-serif;
  margin-right: 10px;
  box-sizing: inherit;
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: #e10600;
  color: white;
  height: 69px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#searchIconDiv img {
  width: 20px;
  height: 20px;
}

#logoDiv img {
  width: 130px;
  height: 37px;
}

nav ul {
  float: right;
}


nav ul li {
  float: left;
  list-style-type: none;
  margin: 0 10px 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #140281;
}